@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

body {
  overflow-x: hidden;
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* For sidebar */
.ant-menu-item {
  margin-bottom: 16px !important;
  color: grey !important;
  margin-left: 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
}

.ant-menu-item-selected,
.ant-menu-item:hover {
  color: #0d062d !important;
  background-color: transparent !important;
  border-right: 3px solid #0d062d;
}

.dark .ant-menu-item-selected,
.dark .ant-menu-item:hover {
  color: #fff !important;
  border-right: 3px solid #fff;
}

.ant-menu-item-selected .icon,
.ant-menu-item:hover .icon {
  filter: brightness(0);
  transition: filter 0.3s ease;
}
.dark .ant-menu-item-selected .icon,
.dark .ant-menu-item:hover .icon {
  filter: brightness(1.5);
  transition: filter 0.3s ease;
}

.toggle-icon {
  filter: brightness(1.5);
  transition: filter 0.3s ease;
}
.dark .header-icon {
  filter: brightness(8.5) !important;
  transition: filter 0.3s ease !important;
}
.dark .anticon.anticon-caret-up.ant-table-column-sorter-up svg,
.dark .anticon.anticon-caret-down.ant-table-column-sorter-down svg,
.dark .anticon.anticon-filter svg {
  fill: #fff;
}
.dark-icon {
  filter: brightness(0.6);
  transition: filter 0.3s ease;
}

.ant-btn-primary {
  background-color: #34caa5;
}

@media (max-width: 768px) {
  .ant-menu-item {
    padding-inline: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .ant-menu-title-content {
    display: none !important;
  }
}

/* For Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ebecf2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #34caa5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #239377;
}

/* For column chart */
.apexcharts-menu-icon {
  display: none;
}
.apexcharts-tooltip.apexcharts-active {
  z-index: 130 !important;
}

.arrow_box {
  padding: 5px !important;
}

/* For table */
.dark .ant-table-container,
.dark .ant-table-header,
.dark .ant-table-wrapper .ant-table-thead > tr > th,
.dark .ant-table-wrapper .ant-table-cell-fix-right {
  background: #191d23 !important;
  color: white !important;
}

.dark .ant-table-cell-row-hover {
  background: #34caa51a !important;
}

.ant-table-column-sort {
  background-color: #34caa51a !important;
}

/* For modal */
.dark .ant-modal-content {
  background-color: #191d23;
  color: #fff;
}
.dark .ant-btn-default {
  color: #fff;
}

/* for drawer */
.dark .anticon.anticon-close svg {
  fill: #fff;
}

/* For notification */
.dark .ant-notification-notice {
  background-color: #191d23b7;
}

.dark .ant-notification-notice-message,
.dark .ant-notification-notice-description {
  color: #fff !important;
}
